---
title: Title for partial EXPLICIT.HBS
description: Description for partial EXPLICIT.HBS
---
<article id="explict">
  <div class="title">
    {{title}}
  </div>
  <p class="description"> {{description}} </p>
</article>



{{include 'page-yfm' explicit}}
{{include 'partial-yfm' explicit}}
{{include 'partial-data-file' explicit}}


{{include 'page-yfm'}}
{{include 'partial-yfm'}}
{{include 'partial-data-file'}}
